/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'Alata';
	line-height: 1.3;
	color: white;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 2.25em;
	font-weight: 600;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

img {
	height: 50px;
}

/*------------------- Root Level -------------------*/
.container {
	display: flex;
    flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #f5f8fd;
	background-image: linear-gradient(to right, #ffd545, #2596be, #8fd4f5);
}

.floating {
	width: auto;
	height: auto;
    padding: 10px;
    margin: 15px;
	box-shadow: 0px 0px 10px grey;
	background-color: white;
    border-radius: 10px;
	color: black;
}

.lang {
	text-align: center;
	display: flex;
	justify-content: center;
}

.infobox {
	text-align: left;
	border: solid darkslateblue 2px;
    background-color: darksalmon;
}

.container-title {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
    background: #1f2227;
	box-shadow: 0px 0px 10px grey;
}

.container-code-row {
    display: flex;
    justify-content: center;
    width: 100%;
	max-width: 1300px;
    height: auto;
	font-family: system-ui;
    font-size: 14px;
}

.container-python {
	width: 50%;
}

.container-sql {
	width: 50%;
}

.container-code-row pre {
    word-wrap: break-word;
	white-space: pre-wrap;
}
