/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'Alata';
	line-height: 1.3;
	color: white;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 2.25em;
	font-weight: 600;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

img {
	min-width: 0;
}

/*------------------- Floating Divs -------------------*/
.floating {
	width: auto;
	height: auto;
    padding: 10px;
	border-radius: 10px;
}

.floating hr {
	border: 0;
    height: 1px;
    background: #ccc;
}

.fl-light {
	box-shadow: 0px 0px 10px grey;
	background-color: white;
}

.fl-dark {
	box-shadow: 0px 0px 10px #15191c;
    background-color: #292e32;
}

.container-fl-title {
	display: flex;
	margin-bottom: 2px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.fl-title {
	display: flex;
	height: 100%;
	width: 50%;
	color: #3e3f52;
	align-items: center;
}

.fl-title h2 {
	font-weight: bold;
	font-size: 1.1em;
}

.fl-subtitle {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	width: 50%;
	color: #8a8a8a;
	align-items: center;
	padding-right: 10px;
}

.fl-subtitle h3 {
	font-size: 1.0em;
}

.fl-subtitle h2 {
	font-weight: bold;
	font-size: 1.0em;
}

.fl-info {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	height: 90%;
	width: 100%;
}

/*------------------- Root Level -------------------*/
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #f5f8fd;
}

/*------------------- Parameters Section -------------------*/

.section_A {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 15%;
	height: 100%;
	background: #1f2227;
	padding: 0px 15px;
	box-shadow: 0px 0px 10px grey;
}

.container_name {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.name {
	text-align: left;
	padding-top: 10px;
	padding-left: 5px;
}

.name h1 {
	color: white;
	line-height: 1.2;
	font-size: 1.6em;
}

.name h3 {
	color: white;
	line-height: 1.2;
	font-size: 1.2em;
}

.container_parameters {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 90%;
	width: 100%;
}

.container_parameters h3 {
	margin-bottom: 10px;
}

.parameters {
	width: 100%;
	height: 100%;
}

.parameters-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2px;
}

.parameters-row select {
	background: #181b20;
	color: #fff;
	padding: 4px;
	border-radius: 9px;
	border: solid 1px grey;
	text-align: right;
	width: 92px;
}

.parameters-row input {
	background: #181b20;
	color: #fff;
	padding: 5px;
	border-radius: 9px;
	border: solid 1px grey;
	text-align: right;
	width: 80px;
}

.parameters-row label {
	font-size: 15px;
}

.parameters-btn {
	display: flex;
    justify-content: center;
}

.parameters-btn button {
	padding: 8px;
	background-color: #181b20;
  	color: white;
	border-radius: 9px;
  	border: 1px solid grey;
	transition-duration: 0.4s;
  	cursor: pointer;
	margin: 0px 5px;
	min-width: 50px;
}

.parameters-btn button:hover {
	background-color: #555555;
	color: white;
}

.control-btn-area {
    margin-top: 5px;
}

.control-btn {
    margin: 0px 2px;
	text-align: center;
}

.control-btn:disabled {
    background-color: #1e2024;
	color: grey;
	cursor: default;
	border: 1px solid #3e3f42;
}

.parameters-btn button:disabled:hover {
	background-color: #1e2024;
	color: grey;
}

#fl-parameters {
	display: flex;
    flex-direction: column;
}

#part-parameters {
	display: flex;
    flex-direction: column;
}

#controls {
	display: inline-block;
}

.container-control {
	display: inline-block;
	width: 100%;
}

.container-control-centralized {
	display: flex;
    align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 5px;
}

.current_status {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 10px;
}

.current_status h4 {
	line-height: 1.2;
	font-size: 0.9em;
}

#links {
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.uni {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 5px;
	margin-top: 5px;
}

.uni-item {
	display: flex;
    width: 18%;
	height: 40px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
	padding: 5px;
}

.uni-item a {
	display: flex;
    width: 90%;
}

.uni-item img {
	max-height: 100%;
	max-width: 100%;
}

/*------------------- Section B: Federated Information -------------------*/
.section_B {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 20%;
	height: 100%;
}

.container-selected-dataset {
	height: 30%;
	display: flex;
    width: 100%;
}

#selected-dataset {
	display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 15px;
	width: 100%;
}

.container-architecture {
	height: 25%;
	display: flex;
    width: 100%;
}

#section_architecture {
	display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 15px;
	width: 100%;
}

.container-pseudocode {
	height: 45%;
	display: flex;
    width: 100%;
}

#section_pseudocode {
	display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 15px;
	width: 100%;
}

.pseudocode-code {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
}

.code-part {
	display: block;
	font-family: system-ui;
    font-size: 14px;
	white-space: pre;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
	cursor: default;
}

.code-part b {
	font-weight: bolder;
}

.code-clickable {
	transition-duration: 0.3s;
	cursor: pointer;
}

.code-clickable:hover {
	background-color: #555555;
	color: white;
}

.code-title {
	font-weight: bold;
	font-size: 16px;
}

.section_B img{
	max-width: 100%;
	max-height: 100%;
}

/*------------------- Section C: Results and Figures -------------------*/

.section_C {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 100%;
}

.container-local-models {
	display: flex;
	height: 60%;
	padding: 15px 15px 0px 15px;
	min-width: 0;
	min-height: 0;
}

.container-local-python {
	display: flex;
	width: 50%;
	height: 100%;
	padding-right: 15px;
}

.container-local-sql {
	display: flex;
	width: 50%;
	height: 100%;
}

.trained-model {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.trained-policy {
	height: 55%;
}

.clients-policy {
	display: flex;
	flex-direction: column;
	height: 45%;
}

.clients-policy select {
	background: #f5f8fd;
	color: black;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	font-family: 'Alata';
	font-size: 12px;
}

.container-stats {
	display: flex;
	height: 40%;
	padding: 15px 15px 0px 15px;
	min-width: 0;
	min-height: 0;
}

#section_D {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#section_E {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}

.container-img {
	display: flex;
    flex-direction: column;
    color: #3e3f52;
    justify-content: center;
    align-items: center;
}

.img-col {
	display: flex;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.img-col img {
	max-width: 100%;
    max-height: 100%;
}